body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("Background.png");
    background-size: cover;
    background-position: center;
}

h1{
    color: #fff;
}

.calculator {
    width: 400px;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden;
    transform: translateY(-5px);
}

.output {
    background-color: #fff;
    width: 100%;
    font-size: 7.5vh;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    padding-top: 5vh;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    padding: 0;
    text-align: center;
}

.custom-button {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    cursor: pointer;
    font-size: 5vh;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.custom-button:hover {
    background-color: lightgray;
    transform: translateY(-5px);
}
